*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
}
nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%; 
    min-height: 10vh;
    color: white;
    align-items: center;
}
.logo{
    grid-column: 2/3;
    font-size: 24px;
    font-family: Papyrus;
}
.hamburger{
    justify-self: end;
}
section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.hero{
    height: 60%;
    width: 100%;
}
.hero img{
    width: 40%;
    height: 100%;
    object-fit: fill;
} 
.headline{
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 70px;
    color: rgba(0, 0,0, .7) ;
    font-family: cursive;
    transform: translate(-20%,-60%);
}
